/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
        url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
        url("../fonts/poppins-v20-latin-500.woff") format("woff");
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
        url("../fonts/poppins-v20-latin-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    margin: 0;
   
}

img {
    display: block;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.site-header {
    padding-top: 48px;
    padding-bottom: 39px;


}

.site-header--header-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0;

}

.site-header__link {
    display: block;
    margin-right: 45.5px;
}

.site-header__img {
    width: 120px;
    height: 32px;
}



.site-header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

}

.site-header__item {
    margin: 0;
    padding: 0;

}

.site-header__item:nth-child(1) {
    margin: 0;
    margin-right: 29px;
    padding: 0;

}

.site-header__item:nth-child(2) {
    margin: 0;
    margin-right: 32px;
    padding: 0;

}

.site-header__nav-link {
    font-weight: 700;
    line-height: 23px;
    color: #9E9AA8;
    text-decoration: none;
}

.site-header__nav-link:hover {
    color: #34313D;
}

.site-header__forma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap:37px;


}

.site-header__forma-link {
    font-weight: 700;
    text-decoration: none;
    color: #9E9AA8;


}
.site-header__forma-link:hover {
    color: #34313D;
}
.site-header__forma-link--link-second {
    font-weight: 700;
    padding: 9px 23px 8px 24px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2BD0D0;
    border-radius: 28px;
}


.site-header__forma-link--link-second:hover {
    background: #9AE3E3;
    color:#FFFFFF;

}

.site-section {
    position: relative;
    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) calc(50% - 10px);


}

.site-section--header-wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 138px;


}

.site-section__text-part {
    width: 565px;

}

.site-section__text {
    margin: 0;
    margin-bottom: 5px;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;


}

.site-section__desc-part {
    width: 540px;
}

.site-section__desc {
    margin: 0;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #9E9AA8;

}

.site-section__link-get {
    display: inline-block;
    padding: 14px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    background-color: #2BD0D0;
    border-radius: 28px;
    color: #FFFFFF;
}

.site-section__link-get:hover {
    background: #9AE3E3;
}

.section-form {
    padding: 52px 64px 120px 64px;
    background-image: url("./images/bg.svg");
    background-repeat: no-repeat;
    background-size: 1108px 168px;

}

input {
    margin-right: 18px;
    padding: 14px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313D;
    outline: none;

    border: none;
    width: 769px;

}

input::placeholder {
    opacity: 0.5;
}

button {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 18px 40px;
    background: #2BD0D0;
    border-radius: 10px;
    border: none;
}

button:hover {
    background: #9AE3E3;

}

.section-second {
    padding-bottom: 120px;
    background-color:#f2f2f2;
}

.section-second__text-part {

    width: 540px;
    margin: 0 auto;
}

.section-second__text {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #34313D;

}


.section-second__desc {
    margin: 0;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
}

.section-second--wrapper {

    display: flex;
    width: 266px;
}

.section-second__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.section-second__list::before {
    position: absolute;
    background-image: url("./images/line.svg");
    width: 1108px;
    height: 8px;
    content: "";
    background-repeat: no-repeat;
    top: calc(50% + 20px);
}
.section-second__item {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 350px;
    padding: 77px 32px 41px 32px;
    background-color: #FFFFFF;

}

.section-second__bold-text {
    margin-bottom: 12px;
    padding: 4px 0 4px 0;
    position: relative;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #34313D;
}

.section-second__item--two-item {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% + 205px);
}

.section-second__item--last-item {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% + 585px);
}

.section-second__bold-text::before {
    position: absolute;
    background-image: url("./images/brand-recognation.svg");
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    content: "";
    top: calc(50% - 137px);
}

.section-second__bold-text--textsec::before {
    position: absolute;
    background-image: url("./images/detail-records.svg");
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    content: "";
    top: calc(50% - 137px);
}

.section-second__bold-text--textlast::before {
    position: absolute;
    background-image: url("./images/fully-customizable.svg");
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    content: "";
    top: calc(50% - 137px);
}



.section-second__paragraph {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #9E9AA8;
}

.site-aside {
    background-image: url("./images/foot-bg.svg");
    background-size: 100% 250px;
    height: 250px;
    background-repeat: no-repeat;
    text-align: center;





}

.site-aside__bold-text {
    margin-bottom: 46px;
    padding-top: 57px;
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;


}


.site-aside__inik-getsec {
    padding: 14px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 28px;
    text-decoration: none;
}

.site-aside__inik-getsec:hover {
    background: #9AE3E3;

}

.site-footer {
    background: #232127;


}

.site-footer--wrapper {
    display: flex;
    padding-top: 71px;
    padding-bottom: 70px;

}

.site-footer__list--list-second {
    display: flex;
}

.site-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.site-footer__img {
    margin-right: 261px;
}

.site-footer__bold-text {
    margin-right: 110px;


}

.site-footer-item--first {
    margin-bottom: 22px;
}

.site-footer__item {
    margin-right: 24px;
    margin-bottom: 10px;
}

.site-footer__item--last {
    margin: 0;
}

.site-footer__bold-text {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

.site-footer__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    text-decoration: none;
    color: #BFBFBF;

}

.site-footer__link:hover {
    color: #2BD0D0;
}


.site-footer__list--list-second {

    margin-left: auto;
}

.site-footer__linkos {
    color: #FFFFFF;
}

.site-footer__linkos:hover {
    color: #2BD0D0;
}